moviepy
srt
demucs
pydub
whisperx @ git+https://github.com/m-bain/whisperx.git
translatepy
scipy
soundfile
numpy
torch==2.0.1
torchvision==0.15.2
torchaudio
tokenizers
encodec
vocos
langid
unidecode
pyopenjtalk
pypinyin
inflect
cn2an
jieba
eng_to_ipa
jieba
SudachiPy
sudachidict_core
nltk
openai-whisper
phonemizer
matplotlib
psutil
transformers
